<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Postres</title>
 <!--Estilos-->
<link rel="stylesheet" href="../css/style.css">
<link rel="icon" href="../img/1.jpg" type="image/jpg">
</head>
<body>
  <!-- HEADER -->
  <header>
     <div>
         <h1>Recetas de la Nona </h1>
         <p>Recetas para compartir con toda la familia.</p>
     </div>
  </header>
  <!-- NAVBAR -->
 <NAv class="NAVBAR">
     <a href="../../index.html">INICIO</a>
     <a href="../views/entrada.html">ENTRADA</a>
     <a href="../views/platosprincipales.html">PLATOS PRINCIPALES</a>
     <a href="../views/postres.html">POSTRES</a>
     <a href="../views/form.html">REGISTRO</a>
 </NAv>
 <!--RECETAS-->
<h2>Torre de panqueques</h2>
<p>La Torre de panqueques es una receta argentina que se destaca por su originalidad y presentación. Se elabora utilizando panqueques como capas, que se alternan con rellenos de fiambre, queso y una mezcla de queso crema y mayonesa. A demás, se disfruta especialmente en ocasiones festivas o celebraciones familiares. ¿Qué esperas? Vamos a cocinar este delicioso plato casero.</p>
<img src="../img/panqueques.jpg" class="imagenes" alt="">
<a href="https://saborargento.com.ar/entradas/torre-de-panqueques/"class= "leerMas">Seguir leyendo</a>
<h2>Verduras a la Parrilla</h2>
<p>Las Verduras a la parrila son un plato popular en muchos paises, especialmente en la cocina Argentinas, en donde son el acompañamiento perfecto para las parrillas y asados. Tienen un sabor delicioso y ahumado que proviene de la cocción a la parrilla. ¡Anímate a probar esta receta, es sencilla y fácil de preparar!</p>
<img src="../img/R (2).jfif" class="imagenes" alt="">
<a href="https://saborargento.com.ar/entradas/verduras-a-la-parrilla/"class= "leerMas">Seguir leyendo</a>
<h2>Fondue de queso</h2>
<p>La Fondue de queso es un plato muy popular en muchos países del mundo, especialmente en Argentina, en donde se destaca por su sabor rico y reconfortante, gracias a la combinación de quesos. Su textura es cremosa y suave. Ideal para reuniones con la familia o amigos.</p>
<img src="../img/R (3).jfif"class="imagenes" alt="">
<a href="https://saborargento.com.ar/entradas/fondue-de-queso/"class= "leerMas">Seguir leyendo</a>
<h2>Buñuelos de acelga</h2>
<p>Los Buñuelos de acelga, también conocidos como croquetas de acelga, son un delicioso plato lleno de sabor que pueden servirse como aperitivo, acompañamiento o incluso como plato principal. Son tiernas por dentro y crujientes por fuera, especialmente la parte superior que se dora durante el horneado. </p>
<img src="../img/bunuelosjpg.webp"class="imagenes" alt="">
<a href="https://saborargento.com.ar/entradas/bunuelos-de-acelga/"class= "leerMas">Seguir leyendo</a>
 <!-- FOOTER-->
 <footer>
     <p>&copy; Ingrid Morales, Potrero Digital 2024</p>
     <p>Recetas de la Nona - Todos los derechos reservados </p>
 </footer> 
</body>
</html>