<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
    <!--Estilos-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/1.jpg" type="image/jpg">
</head>
<body>
     <!-- HEADER -->
     <header>
        <div>
            <h1>Recetas de la Nona </h1>
            <p>Recetas para compartir con toda la familia.</p>
        </div>
     </header>
     <!-- NAVBAR -->
    <NAv class="NAVBAR">
        <a href="../../index.html">INICIO</a>
        <a href="../views/entrada.html">ENTRADA</a>
        <a href="../views/platosprincipales.html">PLATOS PRINCIPALES</a>
        <a href="../views/postres.html">POSTRES</a>
        <a href="../views/form.html">REGISTRO</a>
    </NAv>
      <!-- formulario -->
      <form action="">
        <fieldset>
            <legend>Formulario de Registro</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" required>
            <label for="email">Numero de documento</label>
            <input type="email" name="email" id="email" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" required>
            <label for="fecha">Fecha de Nacimiento</label>
            <input type="date" name="fecha" id="fecha">
            <input type="submit" value="Registrarse">
            <input type="reset" value="Borrar">
        </fieldset>
    </form>

    <!-- FOOTER-->
    <footer>
        <p>&copy; Ingrid Morales, Potrero Digital 2024</p>
        <p>Recetas de la Nona - Todos los derechos reservados </p>
    </footer>
        <!-- scripts bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>