<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platosprincipales</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- estilos -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/1.jpg" type="image/png">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div>
            <h1>Mi recetario de cocina</h1>
            <p>Recetas para todos los dias</p>
        </div>
    </header>
      <!-- NAVBAR -->
      <NAv class="NAVBAR">
        <a href="../../index.html">INICIO</a>
        <a href="../views/entrada.html">ENTRADA</a>
        <a href="../views/platosprincipales.html">PLATOS PRINCIPALES</a>
        <a href="../views/postres.html">POSTRES</a>
        <a href="../views/form.html">REGISTRO</a>

    </NAv>
<!-- RECETAS -->
<div class="principal">
    <main>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="../img/molleja.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mollejas</h5>
                    <p class="card-text">Las mollejas indudablemente forman parte de los platos típicos argentinos. Se cuenta que, en un principio, despojos de bovinos como los chinchulines o las mollejas solían descartarse, así que los trabajadores se los llevaban para consumirlos en sus hogares. “Por lo general, así es como grandes platos de la cultura gastronómica de un país se convierten en típicos.
                    La mejor forma de consumir mollejas es a la parrilla.
                    </p>
                    <a href="https://todosobreelasado.com/recetas/achuras/como-hacer-mollejas-a-la-parrilla/" class="leerMas">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/Milanesa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Milanesas</h5>
                    <p class="card-text">“La milanesa creo que en las casas representa más a la madre, como es algo que se come más en familia, que no es para ocasiones especiales, sino más familiar. Y creo que cuando viajas o vives afuera, vuelves y quieres comer la milanesa de tu casa, la de tu mamá”
                    La auténtica milanesa argentina suele ser de ternera, acompañada con puré o papas fritas. O de estilo napolitanas.</p>
                    <a href="https://unareceta.com/milanesa-con-pure-de-patatas/" class="leerMas">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/humita.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Humita</h5>
                    <p class="card-text">La humita se desarollo como un plato tipico en Argentina por la misma razon que en Peru, Bolivia y Chile: por necesidad. “En Argentina se preparan en dos tipos, a la olla y en chala. La humita en olla se prepara rallando los granos del choclo hasta obtener una crema pastosa; aunque algunos prefieren desgranar los choclos y triturarlos con alguna máquina moderna.</p>
                    <a href="https://www.paulinacocina.net/humita-en-olla/26534" class="leerMas">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/locro.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Locro</h5>
                    <p class="card-text">Originario de la conquista española y a base de maíz blanco, porotos, zapallo (también puede llevar chorizo colorado y carne) y salsa picante, el locro es uno de las comidas que se degusta durante las celebraciones patrias. El Día del Trabajador (1 de mayo), La Revolución de Mayo (25 de mayo), y el Día de la Independencia (9 de julio) fechas que son ideales para reunirse con la familia, junto a un delicioso plato de locro.</p>
                    <a href="https://www.paulinacocina.net/receta-de-locro-argentino/9829" class="leerMas">Seguir leyendo</a>
                </div>
              </div>
            </div>
            <div>
                <div class="col">
                    <div class="card">
                      <img src="../img/locro.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Pizzas</h5>
                          <p class="card-text">La Pizza argentina se ha convertido en un plato icónico de la gastronomía del país y ha desarrollado características propias que la distinguen de otros estilos de pizza, se caracteriza por tener una masa esponjosa, gruesa y su borde es alto con relleno de queso. Es ideal para disfrutar en compañía de familiares y amigos. Aquí te comparto la receta paso a paso para que lo prepares hoy mismo. ¡Empecemos!</p>
                          <a href="https://saborargento.com.ar/pizzas/pizza-argentina/" class="leerMas">Seguir leyendo</a>
                      </div>
                    </div>
                </div>
            </div>
          </div>
    </main>
</div>

<!-- FOOTER -->
<footer>
    <p>&copy; Ingrid Morales, Potrero Digital 2024</p>
    <p>Recetas de la Nona - Todos los derechos reservados </p>
</footer>
    <!-- scripts bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>