   <!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postres</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Estilos -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/1.jpg" type="image/jpg">   
  </head>
   <body>
     <!-- HEADER -->
     <header>
        <div>
            <h1>Recetas de la Nona </h1>
            <p>Recetas para compartir con toda la familia.</p>
        </div>
     </header>
     <!-- NAVBAR -->
    <NAv class="NAVBAR">
        <a href="../../index.html">INICIO</a>
        <a href="../views/entrada.html">ENTRADA</a>
        <a href="../views/platosprincipales.html">PLATOS PRINCIPALES</a>
        <a href="../views/postres.html">POSTRES</a>
        <a href="../views/form.html">REGISTRO</a>
    </NAv>
   <!--RECETAS-->
   <h2>¡POSTRES!</h2>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/9.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>
  <div >
  <h2>Torta Rogel</h2>
  <p>Puede que esta torta sea de origen árabe y que aquí se le agregó dulce de leche. Aunque el merengue que lo recubre sea italiano. De todas formas, como es de esperarse, seguro se trata de una fusión entre diversas culturas gastronómicas. La torta rogel es, visualmente, muy llamativa y su sabor también es delicioso. Se trata de tortillas de harina rellenas con dulce de leche y encima lleva crema  o merengue. Es fácil de hacer y puedes aprender a prepararlo desde casa. </p>
  <img src="../img/copia 1.jpg"class="imagenes" alt="">
  <a href="https://www.paulinacocina.net/torta-rogel/24963"class= "leerMas">Leer Mas</a>
  <h2>Pionono dulce</h2>
  <p>El pionono es un dulce muy popular en Argentina se caracteriza por ser una capa fina de bizcocho y se enrolla en forma de cilindro. En Sudamérica existe una variación en cuánto a la preparación de este platillo, ya que unos lo elaboran dulce y otros salado. Este platillo contiene ralladura de naranja que ayuda a controlar el colesterol y brinda beneficios a la salud cardiovascular, previniendo así la hipertensión y sufrir de un ataque al corazón.</p>
  <img src="../img/copia 3.jpg" class="imagenes"alt="">
  <a href="https://recetasargentinas.org/pionono/"class= "leerMas">Leer Mas</a>
  <h2>Conos de dulce de Leche</h2>
  <p>Sí. Este es uno de los clásicos argentinos que sin duda te encantará si eres un fan del dulce de leche. Es una galleta con un poco de dulce de leche encima y luego bañada en chocolate. En Argentina, esta famosa golosina se llama conitos de dulce de leche, y es algo muy tradicional del pais. </p>
  <img src="../img/copia 4.jpg"class="imagenes" alt="">
  <a href="https://cocinerosargentinos.com/pasteleria/conitos-de-dulce-de-leche"class= "leerMas">Leer Mas</a>
  <h2>Budín de pan</h2>
  <p>Siempre ha sido uno de mis platos dulces favoritos, y seguramente el de muchos de ustedes también ya que el budín de pan es un clásico entre las recetas de muchas abuelas. Este plato dulce también conocido como pudín de pan tiene la característica de ser muy versátil ya que puede variar sus ingredientes, su preparación y también su presentación. Sus ingredientes principales son el pan duro en trozos, leche, huevo y azúcar. </p>
  <img src="../img/copia5.jpg"class="imagenes" alt="">
  <a href="https://www.paulinacocina.net/budin-de-pan-4-pasos/10866"class= "leerMas">Leer Mas</a>
</div>
  
  <!-- FOOTER-->
    <footer>
        <p>&copy; Ingrid Morales, Potrero Digital 2024</p>
        <p>Recetas de la Nona - Todos los derechos reservados </p>
    </footer>
        <!-- scripts bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   </body>
   </html>
  